@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-gscode: var(--font-google-sans-code), sans-serif;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer components {
  .prose-custom {
    @apply prose max-w-none;
    line-height: 20px;

    --tw-prose-body: #202124;
    --tw-prose-headings: #000;
    --tw-prose-links: #1a73e8;
    --tw-prose-bold: #202124;
    --tw-prose-bullets: #5f6368;
  }

  /* Increase paragraph spacing */
  .prose-custom p {
    margin-top: 0.8em;   /* was 0.4em */
    margin-bottom: 0.8em; /* was 0.6em */
  }

  .prose-custom h3 {
    font-size: 1.125rem; /* ~18px */
    font-weight: 600;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
  }


  /* Add more room above bold section headers (#01, #02, etc.) */
  .prose-custom strong {
    display: inline-block;
    margin-top: 1em;
  }

  /* Lists still tighter */
  .prose-custom ul {
    margin-top: 0.4em;
    margin-bottom: 1em;
  }

  .prose-custom li {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
  }
}


body {
  background: #fff;
  color: #000;
  font-family: var(--font-gscode);
}
